name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main # or master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install Rust toolchain
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        target: wasm32-unknown-unknown
        override: true

    - name: Install Trunk
      uses: jetli/trunk-action@v0.4.0
      with:
        version: 'latest'

    - name: Deploy Dioxus app
      uses: DioxusLabs/deploy-action@0.1.2 # Check the marketplace for the latest version
      with:
        # Optional: specify a base path if your site is hosted at a URL like username.github.io/repo-name
        base-path: /portfolio/ 
        # This action automatically builds and pushes the static files to the gh-pages branch
